#myimg {
    width: 660px;
    height: 550px;
    margin-left: 0;
    z-index: 0;
}

.container {
    width: 660px;
    margin: auto;
    text-align: center;
    margin-top: 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 1;
    overflow: hidden;
}   

#preview{
    width: 660px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    position: relative;
    display: flex;
    z-index: 1; 
    overflow: scroll;
    flex-direction: row;
}

.mypreimg{
    width: 165px !important;
    height: 100px;
    z-index: 0;
    margin-left: 0;

    user-select: none;
}